@charset "UTF-8";

/* 基本のやーつ */
body {
margin: 0px;
  font-family:fantasy,TsukuARdGothic-regular ;
  justify-content: center;
  align-items: center;
background-color: #000;
}

h1{
font: bold;
font-size: 30px;
}

ul{
display: flex;
  
}

img{
max-width: 100%;

}
.syoukaibbb{
font-size: xx-small;
}

/* ヘッダーの設定 */
  header {
   background-color:#000; 

  /* padding: 5px; */
  text-align: center;

}

/* メイン */
main{
  text-align: center;
  margin: auto;
max-width: 100%;
background-color: #fff;
}




/* メニューちゃん */
.topmenue nav ul li a{
  color: #fff;
  text-decoration: none;
float: left;

}


.uni li{
flex: 2;
display: inline-block;
  justify-content: space-evenly;
margin: auto;
margin-left: 20px;
}

a{
  text-decoration: none;
}

p{
  text-decoration: none;
}

/* プロフィールの設定 */
.profile{
    /* 
  color: #253b50;
  background: 100%;
  background-image: linear-gradient(0deg, transparent 24px, #bdd6e2 25px),
  linear-gradient(90deg,transparent 24px,#bdd6e2 25px);
  background-color: #fff;
  background-size: 25px 25px;
 */
/* フッター */
    color: #253b50;
    background: 100%;
    background-image: linear-gradient(0deg, transparent 24px, #bdd6e2 25px),
    linear-gradient(90deg,transparent 24px,#bdd6e2 25px);
    background-color: #fff;
    background-size: 25px 25px;
    width: 100%;
}

.infoo{
text-align: left;
display: inline-block;
}

.infoo p {
margin: 0px ;
}


/* 星ども */
.star3{
  transform: scale(-1,1);
  margin: 0px,10px;
  float: right;
position: absolute();
}

.star3:hover{
animation: r1 0.2s linear infinite ;
}

@keyframes r1{
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}

.star2{
  margin: 10px;
float: left;
}

.star2:hover{
  animation: r1 0.2s linear infinite ;
  }
  
.star1{
  margin: 10px;
float: left;
}
.star1:hover{
  animation: r1 0.2s linear infinite ;
  }
  



.linkmenu{
display: block;
text-align: center;

/* display: inline-block; */
/* text-align: center; */
}



.linkmenu ul li div a  {
  font-size: large;
  list-style: none;


  /* グラデかかった四角いボタンを作りたかったけど諦めた */
/*  background: linear-gradient( to top, 150deg, rgba(49,164,203,1),rgba(236,65,145,1) );  */

}
.linkmenu ul{
display: inline-block;

}

/* 動くメニュー */

.linkmenu nav li {
  /*  */
text-align: center;

  /* margin-left: 10px; */

  /* flex-wrap: wrap; */
  /* background: linear-gradient( to top, 150deg, rgba(49,164,203,1),rgba(236,65,145,1) );  */

}
.linkmenu div{
  float: left;
}

.p1,.p2,.p3{
margin-left: 20px;

}




.p1{
 background: #000000; 
padding: 16px;
color: white;
transition: all 0.2s;
text-align: center;
}

.p1:hover {
  color: #76e660;
transform: scale(1.1, 1.1);
} 

.p2{
  background: #000000; 
 padding: 16px;
 color: white;
 transition: all 0.2s;
 text-align: center;

}

.p2:hover {
  color: #51f9ff;
transform: scale(1.1, 1.1);
} 

 .p3{
  background: #000000; 
 padding: 16px;
 color: white;
 transition: all 0.2s;
text-align: center; 

}

 .p3:hover {
  color: #00a7d1;
transform: scale(1.1, 1.1);
} 


/* ポートフォリオのページ */
.junnbi {
max-width: 100%;
height: 400px;
}

.junnbi{
align-items: center;
}
.Portfolio img {

margin: 1rem;


}

.port{
  max-width: 40%;
margin-left: auto;
margin-right: auto;
padding:20px;

}

/* ポートフォリオここまで */

.animetions{

  max-width: 40%;
margin-left: auto;
margin-right: auto;

}

.pop_up:checked + .pop_up{
  display: block ;
}

/* 動く終わり */


ul {
    list-style: none;
    font:#fff;
  }



  .minimoji{
    font-size: small;
  }

.profile {
  display: inline-block;
}

.tasukete {
  display: inline-block;
}

.infoo p{
  display: inline-block;
}


/* 好きなだけ押せるチェックボックス */
.nazo{
  text-align: center;
margin: 100px;
padding: 10px;
background-color: #fff;
}
.serihu{
font-size: smaller;
}

   /* フッターの設定 */
.saigo p {
color: #fff;
font: bold;

}


/* フッターの文字を虹色にするよ */
.s1:hover{
color: tomato;
}
.s2:hover{
color: orange;
}
.s3:hover{
color: khaki;
}
.s4:hover{
color: yellowgreen;
}
.s5:hover{
  color: skyblue;
}
.s6:hover{
  color: mediumslateblue;
}
.s7:hover{
  color: deeppink;
}

/* ポートフォリオのページ */


footer{
bottom: 0px;
  text-align: center;
  background-color: #000; height: 100px;

}
   footer ul li a img{
  float: right;
}
fooo{
  height: 100%
}
